include _mixins/main

<!DOCTYPE html>
html(
	lang="en"
	ng-app='app'
)
head
	+head()
	
body(ng-controller='mainController')
	div(class='content-fluid general' )
		ul(class="nav nav-pills")
			li
				a(href='#/') {{home}}

			li
				a(href='#/services') {{services}}

		div(ng-view) 

	+scripts()
	